Repository arcanequants/onchain-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.next/|
  dist/|
  build/|
  coverage/
)

  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|yaml|yml)$, but not: (?x)^(
  node_modules/|
  \.next/|
  dist/|
  build/|
  coverage/|
  package-lock\.json|
  pnpm-lock\.yaml
)


fix(ci): skip Sentry source map upload when credentials unavailable
  .github/workflows/ci.yml
  next.config.js
Due: eslint, prettier

ci: add build debugging and increase Node memory
  .github/workflows/ci.yml
Due: prettier

ci: fix build step - remove broken verification logic
  .github/workflows/ci.yml
Due: prettier

ci: remove NODE_OPTIONS to test if it was causing build failure
  .github/workflows/ci.yml
Due: prettier

ci: fix build - remove empty SENTRY_ORG/PROJECT vars
  .github/workflows/ci.yml
Due: prettier

revert: restore original next.config.js Sentry configuration
  next.config.js
Due: eslint, prettier

ci: simplify test and build steps for reliability
  .github/workflows/ci.yml
Due: prettier

fix(ci): conditionally apply Sentry config based on SENTRY_AUTH_TOKEN
  next.config.js
Due: eslint, prettier

ci: add explicit error handling to build step
  .github/workflows/ci.yml
Due: prettier

fix(ci): move build deps to dependencies for production builds
  package.json
Due: prettier

chore: regenerate package-lock.json after moving build deps
  package-lock.json
Due: none

fix(ci): simplify build step command
  .github/workflows/ci.yml
Due: prettier

chore: add cross-platform swc dependencies to lockfile
  package-lock.json
Due: none

chore: regenerate package-lock.json from clean install
  package-lock.json
Due: none

fix(ci): move NODE_ENV=production to build step only
  .github/workflows/ci.yml
Due: prettier

fix(e2e): restrict Playwright to tests/e2e directory
  playwright.config.ts
Due: eslint, typescript, prettier

fix(ci): make E2E tests non-blocking while test suite is updated
  .github/workflows/ci.yml
Due: prettier

fix(security): SRE audit fixes - admin auth, Sentry config
  .env.example
  docs/ROADMAP-TRACKER.md
  sentry.client.config.ts
  sentry.server.config.ts
  src/middleware.ts
Due: eslint, typescript, prettier

fix(security): Complete SRE audit fixes - auth, monitoring, coalescing
  docs/ROADMAP-TRACKER.md
  src/app/api/cron/monitor/route.ts
  src/components/Footer.tsx
  src/components/seo/ResultsPageSchema.tsx
  src/lib/ai/request-coalescing.ts
  src/lib/api/middleware.ts
Due: eslint, typescript, prettier

chore: Update ROADMAP-TRACKER - SRE-012 connection pooling complete
  docs/ROADMAP-TRACKER.md
Due: prettier

fix(sre): connect APIs to real database and update tests
  docs/ROADMAP-TRACKER.md
  src/app/api/badge/[brandId]/route.test.ts
  src/app/api/badge/[brandId]/route.ts
  src/app/api/health/deep/route.ts
  src/lib/api/middleware.test.ts
Due: eslint, typescript, prettier

feat(billing): implement subscription persistence in database
  src/app/api/billing/webhook/route.ts
  src/lib/billing/subscription-service.ts
Due: eslint, typescript, prettier

feat: complete billing emails, auth integration, dashboard metrics, and crisis detection
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/billing/subscription/route.ts
  src/app/api/billing/webhook/route.ts
  src/app/api/user/analyses/route.ts
  src/lib/billing/emails.ts
  src/lib/crisis/index.ts
Due: eslint, typescript, prettier

chore: clean up all TODO comments in codebase
  src/app/dashboard/page.tsx
  src/app/pricing/page.tsx
  src/app/results/[id]/page.tsx
  src/lib/errors/secure-handler.ts
  src/lib/industry-detector/index.ts
  src/lib/middleware/auth.ts
  src/lib/rlhf/corrections.ts
  src/lib/utils/logger.ts
Due: eslint, typescript, prettier

fix(ci): use canonical production URL for health checks
  .github/workflows/deploy.yml
Due: prettier

fix(ci): follow redirects in health check curl command
  .github/workflows/deploy.yml
Due: prettier

feat: replace mocks with real implementations - SDET audit fixes
  src/app/api/health/deep/route.ts
  src/app/api/user/metrics/route.ts
  src/app/dashboard/page.tsx
  src/lib/knowledge-graph/wikidata-checker.ts
Due: eslint, typescript, prettier

test(e2e): add billing and admin protection tests
  tests/e2e/admin-protection.spec.ts
  tests/e2e/billing.spec.ts
Due: eslint, typescript, prettier

feat(monitoring): integrate latency tracking in AI providers
  src/lib/ai/providers/index.ts
Due: eslint, typescript, prettier

chore(P4): remove placeholders and add real implementations
  src/app/api/admin/rlhf-metrics/route.ts
  src/app/api/cron/monitor/route.ts
  src/lib/graceful-shutdown/health-check.ts
  src/lib/score-calculator/index.ts
Due: eslint, typescript, prettier

fix(billing): handle missing Stripe config gracefully in webhook
  src/app/api/billing/webhook/route.ts
  tests/e2e/billing.spec.ts
Due: eslint, typescript, prettier
